<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间   -->
<mapper namespace="appinfo.dao.AppInfoMapper">
    <!--int findTotalCount();-->
    <select id="findTotalCount" parameterType="appInfolListVO" resultType="int">
        select count(1) from app_info
          <where>
              <if test="querySoftwareName != null and querySoftwareName != '' ">
                  and softwareName like Concat('%',#{querySoftwareName},'%')
              </if>
              <if test="queryStatus != null and queryStatus != ''">
                  and status = #{queryStatus}
              </if>
              <if test="queryFlatformId != null and queryFlatformId != ''">
                  and flatformId = #{queryFlatformId}
              </if>
              <if test="queryCategoryLevel1 != null and queryCategoryLevel1 != ''">
                  and categoryLevel1 = #{queryCategoryLevel1}
              </if>
              <if test="queryCategoryLevel2 != null and queryCategoryLevel2 != ''">
                  and categoryLevel2 = #{queryCategoryLevel2}
              </if>
              <if test="queryCategoryLevel3 != null and queryCategoryLevel3 != ''">
                  and categoryLevel3 = #{queryCategoryLevel3}
              </if>
          </where>
    </select>
    <!--List<AppInfo> findAppInfoList(@Param("startIndex") Integer startIndex,@Param("pageSize") Integer pageSize);-->
    <select id="findAppInfoList" parameterType="appInfolListVO" resultType="appInfo" >
        select i.id,i.softwareName,i.APKName,i.supportROM,i.interfaceLanguage,i.softwareSize,
                i.updateDate,i.devId,i.appInfo,i.onSaleDate,i.offSaleDate,i.downloads,i.createdBy,
                i.creationDate,i.modifyBy,i.modifyDate,i.logoLocPath,i.logoPicPath,
                i.versionId,(select v.versionNo from app_version v where v.id =i.versionId ) versionNo,
                i.status,(select d.valueName from data_dictionary d where d.typeCode = "APP_STATUS" and i.status=d.valueId) statusName,
                i.flatformId,(select d.valueName from data_dictionary d where d.typeCode = "APP_FLATFORM" and i.status=d.valueId  ) flatformName,
                i.categoryLevel1,(select c.categoryName from app_category c where c.id = i.categoryLevel1 ) categoryLevel1Name,
                i.categoryLevel2,(select c.categoryName from app_category c where c.id = i.categoryLevel2 ) categoryLevel2Name,
                i.categoryLevel3,(select c.categoryName from app_category c where c.id = i.categoryLevel3 ) categoryLevel3Name
          from app_info i
                <where>
                    <if test="querySoftwareName != null and querySoftwareName != '' ">
                        and softwareName like Concat('%',#{querySoftwareName},'%')
                    </if>
                    <if test="queryStatus != null and queryStatus != ''">
                        and status = #{queryStatus}
                    </if>
                    <if test="queryFlatformId != null and queryFlatformId != ''">
                        and flatformId = #{queryFlatformId}
                    </if>
                    <if test="queryCategoryLevel1 != null and queryCategoryLevel1 != ''">
                        and categoryLevel1 = #{queryCategoryLevel1}
                    </if>
                    <if test="queryCategoryLevel2 != null and queryCategoryLevel2 != ''">
                        and categoryLevel2 = #{queryCategoryLevel2}
                    </if>
                    <if test="queryCategoryLevel3 != null and queryCategoryLevel3 != ''">
                        and categoryLevel3 = #{queryCategoryLevel3}
                    </if>
                </where>
            limit #{startIndex},#{pageSize}
    </select>
</mapper>