<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--spring和mybatis整合-->
    <!--第一步:将数据源交给spring管理-->
    <context:property-placeholder location="classpath:database.properties"/><!--加载数据源文件-->
    <!--配置数据源信息-->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="username" value="${jdbc.username}"/>

     </bean>
    <!--sqlsessionfactory  session-->
    <!--第二步:让spring帮我创建session对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--引入数据原信息-->
        <property name="dataSource" ref="dataSource"></property>
        <!--加载mybatis-congfig.xml-->
        <property name="typeAliasesPackage" value="appinfo.pojo"/>
    </bean>

    <!--第三步:配置扫描mapper.xml文件-->
    <bean  class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="appinfo.dao"/>
    </bean>

    <!--实现注解开发-->
    <!--开启注解扫描-->
    <context:component-scan base-package="appinfo"></context:component-scan>

    <!--第四部,将事物交给spring处理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>

    </bean>

    <!--配置事物处理 将事物加入注解开发-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

</beans>